/* Style the scrollbar track */
::-webkit-scrollbar {
    width: 6px; /* Width of the vertical scrollbar */
    height: 6px; /* Height of the horizontal scrollbar */
}

/* Style the scrollbar thumb */
::-webkit-scrollbar-thumb {
    background: rgba(113, 113, 113, 0.5); /* Color of the scrollbar thumb */
    border-radius: 6px; /* Rounded corners */
}

/* Style the scrollbar track */
::-webkit-scrollbar-track {
    background: rgba(113, 113, 113, 0.1); /* Color of the scrollbar track */
    border-radius: 6px; /* Rounded corners */
}