.p-datatable tr:hover {
    background: #d2e6f9;
}

.sm-input .p-inputnumber-input {
    max-width: 5rem;
    text-align: right;
}

.md-input .p-inputnumber-input {
    max-width: 8rem;
    text-align: right;
}

.p-submenu-list {
    z-index: 10;
}